<ion-view view-title="Dashboard">
  <ion-content>
    <label ng-show="list.length>10" class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="filterText" placeholder="Search...">
    </label>
    <ion-list ng-show="list.length>0" ng-repeat="item in list | filter: filterText track by $index">
      <ion-item>
        <span class="done-{{item.status}}">{{item.text}}</span>
        <span ng-if="item.tags.length==2" class="badge badge-balanced">!</span>
        <span ng-if="item.tags.length==1&&'Urgent'==item.tags[0]" class="badge badge-assertive">!</span>
        <span ng-if="item.tags.length==1&&'Important'==item.tags[0]" class="badge badge-positive">!</span>
        <span ng-if="item.tags.length==0" class="badge badge-dark">!</span>
        <ion-option-button class="button-balanced" ng-click="completeItem(item)">
          &nbsp;<i class="icon ion-checkmark"></i>
        </ion-option-button>
        <ion-option-button ng-if="false" class="button-positive" ng-click="editItem(item)">
          &nbsp;<i class="icon ion-edit"></i>
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="deleteItem(item)">
          &nbsp;<i class="icon ion-trash-a"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div ng-if="list.length==0" align="center">
      <h2>
        <i class="icon ion-happy"></i>
        <br />
        No work! Yayyy!!
      </h2>
    </div>
  </ion-content>
</ion-view>
