<ion-modal-view>
  <ion-header-bar>
    <button ng-if="!firstRun" class="button button-clear button-positive" ng-click="closeInformationModal()">
      <i class="icon ion-close-circled"></i>
    </button>
    <h1 class="title">Welcome!</h1>
    <button ng-if="firstRun" class="button button-clear button-positive" ng-click="closeInformationModal()">
      Done
    </button>
  </ion-header-bar>
  <ion-content scrollbar-x="false">
    <div class="list item-text-wrap">
      <div class="item item-divider">
        <strong>1. Add tasks as Urgent or important or both or none</strong>
      </div>
      <div class="item item-divider">
        <strong>2. App will sort your tasks in following order</strong>
      </div>
      <a class="item greenl-border">
        Urgent + Important (Critical)
      </a>
      <a class="item bluel-border">
        Important (> Urgent)
      </a>
      <a class="item redl-border">
        Urgent (Interruptive e.g. call)
      </a>
      <a class="item blackl-border">
        Time waste (Avoid)
      </a>
      <div class="item item-divider">
        <strong>3. Try to have max tasks as green/blue</strong>
      </div>
      <div class="item item-divider">
        <strong>4. Only unavoidable reds</strong>
      </div>
      <div class="item item-divider">
        <strong>5. Minimize time waste by avoiding black</strong>
      </div>
      <div class="item item-divider">
        <strong>6. Swipe item to mark complete or delete</strong>
      </div>
      <div class="item item-divider">
        <strong>7. Stick to the plan ;)</strong>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
