<ion-modal-view>
  <ion-header-bar>
    <button ng-if="!firstRun" class="button button-clear button-positive" ng-click="closeInformationModal()">
      <i class="icon ion-close-circled"></i>
    </button>
    <h1 class="title">Welcome!</h1>
    <button ng-if="firstRun" class="button button-clear button-positive" ng-click="closeInformationModal()">
      Done
    </button>
  </ion-header-bar>
  <ion-content scrollbar-x="false">
    <ion-slide-box>
      <ion-slide>
        <img src="img/ui.png" />
        <h3 align="center" class="gray">ToDo List based on <br />Urgent Important Matrix</h3>
        <br />
      </ion-slide>

      <ion-slide class="item item-text-wrap">
        <div class="list">
          <div class="item item-divider">
            <strong>1. Add tasks as Urgent or important or both or none</strong>
          </div>
          <div class="item item-divider">
            <strong>2. App will sort your tasks in following order</strong>
          </div>
          <a class="item">
            Urgent + Important (Critical)
            <span class="badge badge-balanced">!</span>
          </a>
          <a class="item">
            Important (> Urgent)
            <span class="badge badge-positive">!</span>
          </a>
          <a class="item">
            Urgent (Interruptive e.g. call)
            <span class="badge badge-assertive">!</span>
          </a>
          <a class="item">
            Time waste (Avoid)
            <span class="badge badge-dark">!</span>
          </a>
          <div class="item item-divider">
            <strong>3. Try to have max tasks as green/blue</strong>
          </div>
          <div class="item item-divider">
            <strong>4. Only unavoidable reds</strong>
          </div>
          <div class="item item-divider">
            <strong>5. Minimize time waste by avoiding black</strong>
          </div>
          <div class="item item-divider">
            <strong>6. Swipe item to mark complete or delete</strong>
          </div>
          <div class="item item-divider">
            <strong>7. Stick to the plan ;)</strong>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>
