<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-positive" ng-click="closeInformationModal()">
      <i class="icon ion-close-circled"></i>
    </button>
    <h1 class="title">Information</h1>
  </ion-header-bar>
  <ion-content>
    <ion-slide-box>
      <ion-slide><img src="http://icdn4.digitaltrends.com/image/microsoft_xp_bliss_desktop_image-650x0.jpg" /></ion-slide>
      <ion-slide><img src="http://ionicframework.com.s3.amazonaws.com/docs/controllers/slideBox.gif" /></ion-slide>
    </ion-slide-box>
</ion-content>
</ion-modal-view>
