<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="ToDo" ng-controller="ToDoCtrl" ng-init="InitLoad()">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <button class="button button-clear button-positive" ng-click="open">
          <i class="icon ion-ios7-information-outline"></i>
        </button>
        <h1 class="title">Dashboard</h1>
        <button class="button button-clear button-positive" ng-click="open()">
          <i class="icon ion-ios7-plus-outline"></i>
        </button>
      </ion-header-bar>
      <ion-content>
        <label ng-show="list.length>10" class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="filterText" placeholder="Search...">
        </label>
        <ion-list ng-show="list.length>0" ng-repeat="item in list | filter: filterText">
          <ion-item href="#">
            {{item.text}}
            <span ng-if="item.tags.length==2" class="badge badge-balanced">!</span>
            <span ng-if="item.tags.length==1&&'Urgent'==item.tags[0]" class="badge badge-assertive">!</span>
            <span ng-if="item.tags.length==1&&'Important'==item.tags[0]" class="badge badge-positive">!</span>
            <span ng-if="item.tags.length==0" class="badge badge-dark">!</span>
            <ion-option-button class="button-balanced" ng-click="completeItem(item)">
              &nbsp;<i class="icon ion-checkmark"></i>
            </ion-option-button>
            <ion-option-button class="button-positive" ng-click="editItem(item)">
              &nbsp;<i class="icon ion-edit"></i>
            </ion-option-button>
            <ion-option-button class="button-assertive" ng-click="deleteItem(item)">
              &nbsp;<i class="icon ion-trash-a"></i>
            </ion-option-button>
          </ion-item>
        </ion-list>

        <div ng-if="list.length==0" align="center">
          <h2>
            <i class="icon ion-happy"></i>
            <br />
            No work! Yayyy!!
          </h2>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
