h2{
  color: #ccc;
  padding-top: 150px;
}

.sub{
  font-size: 12px;
  float: right;
  padding-right: 20px;
}

.red{
  color: red;
}

.gray{
  color: #ccc;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.done-false {
  font-weight: bold;
  color: black;
}

.timer-time{
  color: gray;
}

.timerComponent{
  font-size: 12px;
}

.greenl-border{
  border-left: 4px solid green;
  /*border-right: 4px solid green;*/
}

.bluel-border{
  border-left: 4px solid blue;
  /*border-right: 4px solid blue;*/
}

.redl-border{
  border-left: 4px solid red;
  /*border-right: 4px solid red;*/
}

.blackl-border{
  border-left: 4px solid black;
  /*border-right: 4px solid black;*/
}
