h2{
  color: #ccc;
  padding-top: 150px;
}

.sub{
  font-size: 12px;
  float: right;
  padding-right: 20px;
}

.red{
  color: red;
}

.gray{
  color: #ccc;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.done-false {
  font-weight: bold;
  color: black;
}

.timer-time{
  color: gray;
}

.timerComponent{
  font-size: 12px;
}
